* text=auto

**/mvnw text eol=lf
**/*.sh text eol=lf
**/Dockerfile text eol=lf
**/.dockerignore text eol=lf

**/mvnw.cmd text eol=crlf
**/*.bat text eol=crlf

*.java text
*.xml text
*.yml text
*.yaml text
*.properties text
*.md text
.env* text

*.jar binary
*.class binary
*.jks binary
*.p12 binary
*.png binary
*.jpg binary
